html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#unity-canvas {
    background: #231F20;
    display: block;
}

@keyframes rotateAndBouncePhone {
    0% {
        transform: rotate(-15deg) translateY(0);
    }

    50% {
        transform: rotate(15deg) translateY(-10px);
    }

    100% {
        transform: rotate(-15deg) translateY(0);
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
        /* fully visible */
    }

    25%,
    75% {
        opacity: 0.2;
        /* almost invisible */
    }
}

#rotateOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 9999;
    display: none;
}

#rotateOverlay img {
    max-width: 150px;
    animation: rotateAndBouncePhone 1.5s infinite ease-in-out;
}

#rotateOverlay h1 {
    font-family: 'Poppins', 'Segoe UI', 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

#fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
}

#fullscreenOverlay h1 {
    position: absolute;
    bottom: 50px;
    /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
    /* center horizontally */
    margin: 0;
    font-size: 1vw;
    animation: blink 2s infinite ease-in-out;
}

#center-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#center-cell {
    display: table-cell;
    vertical-align: middle;
}

#logo {
    max-width: 150px;
    height: auto;
}

#logo-text {
    margin: 15px 0 0 0;
    font-size: 0.8rem;
    opacity: 0.5;
    color: white;
}

#loadingText {
    margin: 5px 0 0 0;
    color: white;
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.5;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#LoadingBar {
    float: left;
    width: 0%;
    height: 5px;
    background-color: #797979;
    transform: translate(0, -5px);
}