html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #79614c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#unity-canvas {
    background: #023e3d;
    display: block;
}

#center-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#center-cell {
    display: table-cell;
    vertical-align: middle;
}

#logo {
    max-width: 150px;
    height: auto;
}

#logo-text {
    margin: 15px 0 0 0;
    font-size: 0.8rem;
    opacity: 0.5;
    color: white;
}

#loadingText {
    margin: 5px 0 0 0;
    color: white;
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.5;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#LoadingBar {
    height: 4vh;
    width: 50%;
    background-image: url("project-pattern_beige.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto 100%;
    opacity: 1;
    z-index: 20;
    margin-top: -4vh;
}

.Pattern {
    height: 4vh;
    width: 100%;
    background-image: url("pattern.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto 100%;
    opacity: 1;
    z-index: 20;
}

.secondPat {
    opacity: 0.5;
}

.thirdPat {
    opacity: 0.25;
}